<h1>投稿を編集する</h1>
<%= form_tag update_restaurant_path(@restaurant.id), method: 'patch' do %>
  タイトル
  <%= text_field_tag :name, @restaurant.name, class: "form-control title-field" %>
  <div>
    start
   <%= time_field_tag :start_time,@restaurant.start_time %>
   end
   <%= time_field_tag :end_time,@restaurant.end_time %>
  </div>
  urll
  <%= text_area_tag :url, @restaurant.url, class: "form-control" %>
  <p>場所</p>
  <%= text_field_tag :location, @restaurant.location, class: "form-control title-field" %>
  <%= submit_tag "保存", class: "btn primary-btn" %>
<% end %>
